package templates

import (
	"github.com/tfharrelson/scicomp-bench/app/components"
	"github.com/tfharrelson/scicomp-bench/app/layouts"
)

templ IndexPage() {
	@layouts.Base("SciComp Bench") {
		@components.Navigation(components.PageIndex)
		<article class="prose mx-auto m-2">
			<p>Welcome to the SciComp Bench</p>
		</article>
	}
}
